@use 'utilities' as *;

.sidenav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem($touchable-area);
  color: color-gray(light);
  @include rhythm-padding-side('left', 1);
  @include rhythm-padding-side('right', .5);

  background: linear-gradient(90deg, color-variant(accent-1, dark) 0%, color-variant(accent-1, darker) rem(2px), transparent 0%);

  fa-icon {
    @include rhythm-margin-side('left', .5);
  }
}
