@import 'main';

:host {

  @include breakpoint(max-width breakpoint-name(bulldog)) {
    background: pick-color(primary);
    color: pick-color(light);
    text-align: right;
  }

  fa-icon {
    cursor: pointer;


    // esconde menu
    @include breakpoint(breakpoint-name(bulldog)) {
      display: none;
    }
  }
}
