<nav class="desktop-version">
  <ul class="inline-list" *ngIf="menu">
    <li *ngFor="let item of menu.items">
      <a [routerLink]="item.link">{{ item.title }}</a>
    </li>
  </ul>
</nav>
<!-- big  -->

<div class="navbar-mobile">
  <div class="text-right">
    <fa-icon [icon]="faMenu" size="2x" (click)="toggle()"></fa-icon>
  </div>
  <nav [appCollapsible]="true" (click)="toggle()">
    <ul class="list-column" *ngIf="menu">
      <li *ngFor="let navItem of menu.items" class="navItem">
        <div class="inline-list">
          <a [routerLink]="navItem.link" class="list-item-grow">
            {{ navItem.title | titlecase }}
          </a>
          <a *ngIf="navItem.subItems && navItem.subItems.length > 0" #collapseButton>
            <fa-icon [icon]="faAdd"></fa-icon>
          </a>
        </div>
        <ul class="list-column subItems">
          <li *ngFor="let subItem of navItem.subItems">
            <a [routerLink]="subItem.link">
              {{ subItem.title | titlecase }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
