@use 'utilities' as *;

:host {
  display: flex;
  justify-content: space-between;
  @include rhythm-padding(.5);

  > .header-list-items {
    display: flex;
    align-items: center;
    flex: 1;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: space-evenly;
    }

    &.right {
      justify-content: flex-end;
    }
  }
}
