@import 'main';

:host {
  background: pick-color(light);
  display: flex;
  flex-direction: column;

  // aplica grid a partir desse breakpoint
  @include breakpoint(breakpoint-name(bulldog)) {
    display: grid;
    align-items: center;
    grid-template-areas: 'logo icons'
                         'navbar navbar';

  }

  @include breakpoint(breakpoint-name(dobermann)) {
    grid-template-areas: 'navbar logo icons';
    @include padding-rhythm(2 0); 
  }

  ::ng-deep {

    .header-item {

      @include padding-rhythm(.5 1);

      &.navbar {
        grid-area: navbar;
      }

      &.logo {
        grid-area: logo;
        @include breakpoint(breakpoint-name(bulldog)) { justify-self: left }
      }

      &.icons {
        grid-area: icons;
        @include breakpoint(breakpoint-name(bulldog)) { justify-self: right }
      }

    }

  }
}
