@use 'utilities' as *;

// $touchable-area * some app shadow
$nav-width: rem(breakpoints('chihuahua') - $touchable-area * 2);

:host {
  --gradient-background-1: radial-gradient(
    ellipse 
    clamp(300px * 1.5, 90vw, 120vw) 70vh at
    clamp(320px, 60vw, 110vw) 50vh,
    hsl(175, 56%, 56%) 20%,
    hsl(145, 56%, 56%) 40%,
    hsl(145, 56%, 44%) 80%,
    hsl(205, 12%, 42%) 100%
  );

  background: url(#{$assets-path}/folha.svg) no-repeat, var(--gradient-background-1);
  background-position: -240px 80%, 0 0;
  background-size: 111vh, auto;
  background-blend-mode: exclusion;

}

.sidenav {
  height: 100vh;
  overflow-y: scroll;
  margin: 6vh 0rem;

  .nav-title {
    @include rhythm-margin(2 1);
    color: color-variant('accent-1', 'darker');

    a {
      display: flex;
      align-items: center;
    }

    .title {
      @include rhythm-margin-side('left', 1);
    }
  }

  .nav-list-container {
    @include rhythm-margin(2.5 .5);
    // Calc uses margin (2x) declared above to hide by default nav-list
    transform: translateX(calc(-100% - #{rhythm-baseline-scale(1)}));
  }
}

.loading-container {
  @include rhythm-margin(2.5 .5);
}