@use 'utilities' as *;

// $touchable-area * some app shadow
$nav-width: rem(breakpoints('chihuahua') - $touchable-area * 2);

:host {
  --gradient-background-1: radial-gradient(ellipse 130vw 80vh at 103vw 50vh,
    hsl(204, 55%, 83%) 1%, hsl(175, 56%, 56%) 28%, 
    hsl(145, 56%, 56%) 39%, hsl(145, 56%, 44%) 81%, 
    hsl(205, 12%, 42%) 100%);

  background: var(--gradient-background-1);
}

.sidenav {
  @include rhythm-padding(1 0);
  height: 100vh;
  overflow-y: scroll;
  width: $nav-width; 

  .nav-title {
    @include rhythm-margin(2 1);
    color: color-variant('accent-1', 'darker');

    a {
      display: flex;
      align-items: center;
    }

    .title {
      @include rhythm-margin-side('left', 1);
    }
  }

  .nav-list-container {
    @include rhythm-margin(2.5 .5);
    // Calc uses margin (2x) declared above to hide by default nav-list
    transform: translateX(calc(-100% - #{rhythm-baseline-scale(1)}));
  }
}

.loading-container {
  @include rhythm-margin(2.5 .5);
}