<nav *ngIf="!paginate.isOutOfRange()">
  <ul class="inline-list pages">
    <ng-container *ngIf="!paginate.isFirst()">
      <li>
        <a [routerLink]="['../', paginate.first]">
          <fa-icon [icon]="faFirst"></fa-icon>
        </a>
      </li>
      <li>
        <a [routerLink]="['../', paginate.prev]">
          <fa-icon [icon]="faPrev"></fa-icon>
        </a>
      </li>
      <li>
        <a [routerLink]="['../', paginate.prev]">{{ paginate.prev }}</a>
      </li>
    </ng-container>

    <li class="active">
      <a [routerLink]="['../', paginate.number]">{{ paginate.number }}</a>
    </li>
    <ng-container *ngIf="!paginate.isLast()">
      <li>
        <a [routerLink]="['../', paginate.next]">{{ paginate.next }}</a>
      </li>
      <li>
        <a [routerLink]="['../', paginate.next]">
          <fa-icon [icon]="faNext"></fa-icon>
        </a>
      </li>
      <li>
        <a [routerLink]="['../', paginate.last]">
          <fa-icon [icon]="faLast"></fa-icon>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
