@use 'utilities' as *;

.pages {
  justify-content: center;
  > li {
    @include rhythm-padding(.5);

    &.active, &:hover {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
