@use 'utilities';

.pages {
  justify-content: center;
  > li {
    @include utilities.padding-rhythm(.5);

    &.active, &:hover {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
