<div class="actions">
  <button class="action-left" (click)="addToCart($event)">
    <fa-icon [icon]="faShoppingCart" size="2x"></fa-icon>
  </button>
  <button class="action-right" (click)="openQuickView()">
    <fa-icon [icon]="faExpand" size="2x"></fa-icon>
  </button>
</div>
<a [routerLink]="['produtos', product.id]">
  <div class="cover">
    <img alt="Capa do produto" [src]="product.cover">
  </div>
  <div class="details text-center">
    <a class="section-subtitle">{{ product.title | titlecase }}</a>
    <h3 class="price">{{ product.price.cents/100 | currency: product.price.currency_iso }}</h3>
  </div>
</a>
