<aside class="sidenav" *ngIf="sidenav$ | async as nav; else loading">
  <h1 class="heading-5 nav-title">
    <a href="javascript:void(0)" (click)="navigateLevelUp()"
       [@slideDown]="show">
      <fa-icon [icon]="['fas', 'chevron-left']" *ngIf="!nav.isRoot()"></fa-icon>
      <b class="title">{{ levelName(nav) | titlecase }}</b>
    </a>
  </h1>
  <div class="nav-list-container" [@slideRight]="show">
    <store-sidenav-list [navList]="nav.children">
    </store-sidenav-list>
  </div>
</aside>

<ng-template #loading>
  <section class="loading-categories">
    <h1 class="heading-4 text-bold">DEPARTAMENTOS</h1>
    <ul>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
    </ul>
  </section>
</ng-template>
