<aside class="sidenav">
  <ng-container *ngIf="categories$ | async as categories; else loading">
    <h1 class="heading-5 text-bold">
      <a href="javascript:void(0)" (click)="close()">

        <ng-container *ngIf="navigator$ | async as category; else title">
          <fa-icon [icon]="backButton" class="back-button text-sm">
          </fa-icon>
          {{ category.name }}
        </ng-container>

      </a>
    </h1>

    <div class="container" #sidenav>
      <app-sidenav [categories]="categories">
      </app-sidenav>
    </div>

  </ng-container>
</aside>

<ng-template #loading>
  <section class="loading-categories">
    <h1 class="heading-4 text-bold">DEPARTAMENTOS</h1>
    <ul>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
      <li class="loading"></li>
    </ul>
  </section>
</ng-template>

<ng-template #title>
  Departamentos
</ng-template>
