@use 'utilities' as *;

:host {
  --gradient-background-1: radial-gradient(ellipse 130vw 80vh at 103vw 50vh,
    hsl(204, 55%, 83%) 1%, hsl(175, 56%, 56%) 28%, 
    hsl(145, 56%, 56%) 39%, hsl(145, 56%, 44%) 81%, 
    hsl(205, 12%, 42%) 100%);

  background: var(--gradient-background-1);
}

.sidenav {
  position: relative;
  @include rhythm-padding(1 0);
  // $touchable-area * some app shadow
  width: rem(breakpoints('chihuahua') - $touchable-area*2); 

  h1 {
    @include rhythm-margin(0 1);
    color: color-variant('accent-1', 'darker');

     .back-button {
      @include rhythm-margin-side('right', 1);
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .subcategories app-sidenav:not(.active) {
    display: none;
  }

  .container {
    position: absolute;
    top: rhythm-baseline-scale(4);
    width: 100%;

    > app-sidenav {
      position: absolute;
      left: 0;
      max-height: 70vh;
      overflow-y: scroll;
    }
  }
}
