@use 'utilities' as *;

.loading-container {
  display: flex;
  flex-direction: column;

  .loading {
    @include rhythm-margin-side('bottom', 1);
    @include opacity(.4);
    background: color-variant('accent-1', 'darker');
    border-radius: $border-radius;
    min-height: rem($clickable-area);
    flex: 1;
  }
}
