@import 'main';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray(dark, $opacity: light);
  @include padding-rhythm(2 3);
  @include z(overlay);
  animation: .6s fadeIn;

  @include breakpoint(max-width get-breakpoint(bulldog)) {
    @include padding-rhythm(0);

    .container {
      height: 100%;
    }
  }

  .close {
    position: absolute;
    top: measure-lines-rhythm(.5);
    right: measure-lines-rhythm(.5);
    cursor: pointer;
    @include margin-rhythm(.5);
    color: gray(gray-4);
  }

  .container {
    position: relative;
    background: gray(light);
    overflow-y: scroll;
  }
}
