@use '~breakpoint-sass/stylesheets/breakpoint' as *;
@use 'utilities' as utils;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: utils.color-gray(dark, $opacity: light);
  @include utils.rhythm-padding(2 3);
  @include utils.z(overlay);
  animation: .6s fadeIn;

  @include breakpoint(max-width utils.breakpoints(bulldog)) {
    @include utils.rhythm-padding(0);

    .container {
      height: 100%;
    }
  }

  .close {
    position: absolute;
    top: utils.rhythm-baseline-scale(.5);
    right: utils.rhythm-baseline-scale(.5);
    cursor: pointer;
    @include utils.rhythm-margin(.5);
    color: utils.color-gray(gray-4);
  }

  .container {
    position: relative;
    background: utils.color-gray(light);
    overflow-y: scroll;
  }
}
