@import "main";

:host {
  height: 100%;
  @include padding-rhythm(1);

  @include breakpoint(breakpoint-name(bulldog)) {
    display: flex;
  }

  .gallery {
    img {
      width: 100%;
    }
  }

  .information {
    width: 100%;
    margin-left: 1.5rem;
  }

  .description {
    @include margin-rhythm(1 0);
  }

}
