<div class="gallery">
  <img [src]="product.cover" class="selected"/>
  <!-- <div class="inline-list gallery-items">
    <img src="https://via.placeholder.com/1000x1000"/>
    <img src="https://via.placeholder.com/1000x1000"/>
    <img src="https://via.placeholder.com/1000x1000"/>
    <img src="https://via.placeholder.com/1000x1000"/>
  </div> -->
</div>
<section class="information">
  <h1>{{ product.title | titlecase }}</h1>
  <h4 class="text-primary">{{ product.price.cents/100 | currency: product.price.currency_iso }}</h4>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum id cum minima iure deleniti modi obcaecati? Consequatur cupiditate labore vitae, magni quasi nulla esse, totam unde at doloribus debitis alias.</p>
  <div class="classification">
    <b>Categoria: </b><span>{{ product.category.name }}</span>
  </div>
</section>
