@use 'utilities' as utils;

$border-width: utils.rem(1);
$border-color: utils.gray(gray-5);

:host {

  .destaques {

    .categories {
      display: flex;
      flex-wrap: wrap;
      @include utils.margin-rhythm(1 0);

      > .category {
        cursor: pointer;
        border-radius: rem(12);
        @include utils.padding-rhythm(.5 1);
        white-space: nowrap;
        margin-right: utils.measure-lines-rhythm(1);
        border: $border-width solid $border-color;
      }
    }
  }

}
