<!-- <section>
  <div *ngIf="products$ | async as products; else loading">
    <app-products-catalog [products]="products"></app-products-catalog>
  </div>
</section> -->
<section class="destaques">
  <h1 class="text-center">Destaques</h1>

  <ng-container *ngIf="categories$ | async as categories">
    <ul class="categories">
      <li *ngFor="let category of categories" class="category">
        {{ category.name | titlecase }}
      </li>
    </ul>
    <!-- tab para cada um -->
  </ng-container>
</section>

<ng-template #loading>
  <p> <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Produtos estão sendo carregados...</p>
</ng-template>
