:host {
  height: 100vh;
  position: relative;
  width: 100vw;
}

#container, #sidenav-drawer {
  height: 100vh;
  position: absolute;
  width: 100vw;
}

#container {
  background: red;
}

#sidenav-drawer {
  background: blue;
}
