<app-sidenav-drawer id="sidenav">
</app-sidenav-drawer>

<store-app-container id="app" [open]="showSidebar">
  <store-header>
    <store-header-container>
      <store-icon [label]="menuLabel"
                  labelPosition="right"
                  (toggleChange)="showSidebar = $event.checked"
                  storeToggleButton>
        <store-hamburguer-button (toggleChange)="showSidebar = $event.checked"></store-hamburguer-button>
      </store-icon>
    </store-header-container>
  </store-header>

  <main>
    <router-outlet></router-outlet>
  </main>
</store-app-container>
