<app-sidenav-drawer id="sidenav"></app-sidenav-drawer>

<div id="app" [ngClass]="{open: drawer, opening: opening}" (click)="drawer && closeDrawer()" #app>
  <app-header>
    <store-hamburguer-button (toggleChange)="toggleDrawer($event)" 
                           (click)="$event.stopPropagation()"
                           position="left" appHeaderItem>
    </store-hamburguer-button>
  </app-header>

  <div class="touchable" #drawerTrigger></div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
