@use 'utilities' as *;

$app-background: color-pick('background-1');
$sidenav-background: color-gradient('background-1');

:host {
  @include full-content;
  position: relative;
  #app {
    @include full-content;
    position: absolute;
    background: var(--color-background-1);
  }
  
  #sidenav {
    @include full-content;
    position: absolute;
    background: var(--gradient-background-1);
  }

  main {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }

  .trigger {
    @include z(drawer);
    position: absolute;
    height: 100vh;
    width: $touchable-area;
    left: 0;
  }
}
