<store-sidenav-drawer id="sidenav" [show]="showSidenav">
</store-sidenav-drawer>

<store-app-container id="app" #menu="storeMenu"
                     (swipeleft)="closeSidenav()"
                     (tap)="$event.tapCount === 2 && closeSidenav()">
  <store-header>
    <store-header-container>
      <store-icon labelPosition="right"
                  [label]="menuLabel"
                  [storeSidenavTrigger]="menu"
                  (toggled)="showSidenav = $event.checked"
                  #trigger="storeNavTrigger">
        <store-hamburguer-button [active]="showSidenav">
        </store-hamburguer-button>
      </store-icon>
    </store-header-container>
  </store-header>

  <main (swiperight)="openSidenav()">
    <router-outlet></router-outlet>
  </main>
</store-app-container>
