@use 'utilities' as *;
@use 'components/icon' as *;

$stroke-width: 5;

:host {
  @extend .icon;
}

svg {
  cursor: pointer;
}

line {
  stroke: color-gray(gray-2);
  stroke-width: $stroke-width;
  stroke-linecap: round;
}
